* {
  font-family: Roboto, sans-serif;
}

.text-underline {
  text-decoration: none;
  color: black;
}

.text-underline:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #a533ff;
  font-weight: bold;
}

.anime-search-image img {
  width: 50px;
}

.top-image {
  width: 70px;
}

.align-center {
  text-align: center;
}

.disabled:hover {
  cursor: not-allowed;
}

.pagination:hover {
  cursor: pointer;
}

.current-season {
  margin: 10px 0px 30px;
}

.content-secondary img {
  width: 150px;
}

.content-main {
  height: 60px;
  display: flex;
  justify-content: center;
}

.title {
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-self: flex-end;
  padding-bottom: 3px;
}

.title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #a533ff;
}

.content {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.synopsis {
  padding: 0px 10px 0px;
  height: 100px;
  overflow: scroll;
  text-align: justify;
}
