* {
  font-family: Roboto, sans-serif;
}

.text-underline {
  text-decoration: none;
  color: black;
}

.text-underline:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #a533ff;
  font-weight: bold;
}

.anime-search-image img {
  width: 50px;
}

.top-image {
  width: 70px;
}

.align-center {
  text-align: center;
}

.disabled:hover {
  cursor: not-allowed;
}

.pagination:hover {
  cursor: pointer;
}

.season-container {
  border-top: 3px solid black;
  border-left: 3px solid black;
  margin: 20px;
}

.season-div {
  padding: 10px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.content-main {
  height: 60px;
}

.content-secondary img {
  width: 150px;
}

.content-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.title:hover {
  text-decoration: underline;
  color: #a533ff;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
}

.synopsis {
  padding: 0px 10px 0px;
  height: 100px;
  overflow: scroll;
  text-align: justify;
}
