/* Global adjustments */

* {
  font-family: Roboto, sans-serif;
}

:root {
  --purple: #a533ff;
}

/* AnimeSearch, TopA, TopM and TopNavigation adjustments */

.title-link {
  text-decoration: none;
  color: black;
}

.title-link:hover {
  font-weight: bold;
  color: var(--purple);
  text-decoration: underline;
}

.anime-search-image,
.top-image {
  width: 70px;
  min-width: 50px;
}

.disabled:hover {
  cursor: not-allowed;
}

.pagination:hover {
  cursor: pointer;
}

/* CurrentSeason adjustments */

.current-season {
  font-weight: bold;
}

.season-title {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.season-title:hover {
  text-decoration: underline;
  color: var(--purple);
}

.season-synopsis {
  height: 120px;
  padding: 0px 10px 0px;
  overflow: scroll;
  text-align: justify;
}

.season-informations {
  font-size: 15px;
  font-weight: bold;
}
